# LangChain et extensions
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-chroma

# Vectorisation et embeddings
sentence-transformers

# Base de données vectorielle
chromadb

# PDF et Web Scraping
pypdf
requests
beautifulsoup4

# LLM Ollama
langchain-ollama

# Web Interface (Streamlit)
streamlit



